<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Bootstrap.php">
    <testsuites>
        <testsuite name="ZendService LogEntries Test Suite">
            <directory>./ZendService</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
</phpunit>
